.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w90p {
  width: 90%;
}

.w100p {
  width: 100%;
}

.w200 {
  width: 200px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w400 {
  width: 400px;
}

.w800 {
  width: 800px;
}

.w1200 {
  width: 1200px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.h90 {
  height: 90px;
}

.h100 {
  height: 100px;
}

.h110 {
  height: 110px;
}

.h115 {
  height: 115px;
}

.h120 {
  height: 120px;
}

.h140 {
  height: 140px;
}

.h145 {
  height: 145px;
}

.h150 {
  height: 150px;
}

.h100v {
  height: 100%;
}

.h200 {
  height: 200px;
}

.h300 {
  height: 300px;
}

.h500 {
  height: 500px;
}

.h600 {
  height: 600px;
}

.h620 {
  height: 620px;
}

.h630 {
  height: 630px;
}

.h640 {
  height: 640px;
}

.h800{
	height: 800px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml50 {
	margin-left: 50px;
}

.ml400 {
	margin-left: 400px;
}

.ml450 {
	margin-left: 450px;
}

.ml500 {
	margin-left: 500px;
}

.ml550 {
	margin-left: 550px;
}

.ml600 {
	margin-left: 600px;
}

.ml610{
	margin-left:610px;
}

.mr5 {
	margin-right: 5px;
}

.mt1 {
  margin-top: 1px;
}

.mt3 {
  margin-top: 3px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mt150 {
  margin-top: 150px;
}

.mt200 {
  margin-top: 200px;
}

.mt230 {
  margin-top: 230px;
}

.mt250 {
  margin-top: 250px;
}

.mt300 {
  margin-top: 300px;
}

.mt350 {
  margin-top: 350px;
}

.mt400 {
  margin-top: 400px;
}

.mt440 {
  margin-top: 440px;
}

.mt450 {
  margin-top: 450px;
}

.mt500 {
  margin-top: 500px;
}

.mt550 {
  margin-top: 550px;
}

.mt650 {
  margin-top: 650px;
}

.mt700 {
  margin-top: 700px;
}

.mt750 {
  margin-top: 750px;
}

.mt850 {
  margin-top: 850px;
}

.mt1000 {
  margin-top: 1000px;
}

.mt1150 {
  margin-top: 1150px;
}

.mt1300 {
  margin-top: 1300px;
}

.mb5{
	margin-bottom: 5px;
}

.mb10{
	margin-bottom: 10px;
}

.mb100{
	margin-bottom: 100px;
}

.brs1{
	border: solid 1px;
}

.br5 {
  border-radius: 5px;
}

.br10 {
  border-radius: 10px;
}

.tac{
	text-align: center;
}

.lh30{
	line-height: 30px;
}

.lh50{
	line-height: 50px;
}

.lh60{
	line-height: 60px;
}

.fts12{
	font-size: 12px;
}

.fts15{
	font-size: 15px;
}