.tran_table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 15px;
}
.tran_table th,
.tran_table td {
  padding: auto;
}
.tran_table th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
.tran_table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.tran_table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.tran_table td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
.tran_table td:first-child {
  border-left: 1px solid #c6c9cc;
}
.tran_table tr:nth-child(even) td {
  background: #eaeaed;
}
.tran_table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.tran_table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.search_table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 15px;
  border: solid 1px;
  border-radius: 3px;
}

.search_table th,
.search_table td {
  padding: auto;
  text-align: center;
}

.search_table td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}

.td_title{
	background: #eaeaed;
}