<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/main/main.css" />
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    
    <title>오픈뱅킹_VEINX</title>
  </head>
  <body style="width: 100%; height: 100vh; font-family: monospace;">
  	<form id="mainForm" method="post" action="/main/access">
		<input type="hidden" id="login_id" name="loginId" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.loginId}"/>
		<input type="hidden" id="login_id" name="loginId" th:if="${session.tokenDTO==null}"/>
	  	<input type="hidden" id="code" name="code" th:value="${code}"/>
		<input type="hidden" id="token_type" name="tokenType"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.accessToken}"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO==null}"/>
		<input type="hidden" id="refresh_token" name="refreshToken"/>
		<input type="hidden" id="expires_in" name="expiresIn"/>
		<input type="hidden" id="scope" name="scope"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.userSeqNo}"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO==null}"/>
		<input type="hidden" id="bank_tran_id" name="bankTranId" th:value="M202300134"/>
	</form>
    <div class="base">
      <div class="left container" id="left_container">
      	<div class="mt50 container_child2">
			<button class="logout_button" type="button" onclick="logout()">logout</button>	
		</div>
      </div>
      <div class="right container" id="right_container">
        <div class="mt50 container_child" id="table_title" style="font-size: 50px;">Open Banking</div>
        <div
          class="w1200 h800 mt150 mb100 brs1 br10 container_child"
          id="table"
          style="background-color: white; color: black;"
          >
        </div>
      </div>
    </div>
  </body>
  <script src="/js/main/main.js"></script>
  <script src="/js/main/excel.js"></script>
  <script src="/js/main/won.js"></script>
  <script src="/js/main/account/list.js"></script>
  <script src="/js/main/account/cancel.js"></script>
  <script src="/js/main/inquiry/balance2.js"></script>
  <script src="/js/main/inquiry/transactionalInformation.js"></script>
</html>