<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/main/main.css" />
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    
    <title>오픈뱅킹_VEINX</title>
  </head>
  <body style="width: 100%; height: 100vh; font-family: monospace;">
  	<form id="mainForm" method="post" action="/main/access">
		<input type="hidden" id="login_id" name="loginId" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.loginId}"/>
		<input type="hidden" id="login_id" name="loginId" th:if="${session.tokenDTO==null}"/>
	  	<input type="hidden" id="code" name="code" th:value="${code}"/>
		<input type="hidden" id="token_type" name="tokenType"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.accessToken}"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO==null}"/>
		<input type="hidden" id="refresh_token" name="refreshToken"/>
		<input type="hidden" id="expires_in" name="expiresIn"/>
		<input type="hidden" id="scope" name="scope"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.userSeqNo}"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO==null}"/>
		<input type="hidden" id="bank_tran_id" name="bankTranId" th:value="M202300150"/>
	</form>
    <div class="base">
      <div class="left container" id="left_container">
      	<div class="mt50 container_child2">
			<button class="logout_button" type="button" onclick="logout()">logout</button>	
		</div>
      </div>
      <div class="right container" id="right_container">
        <div class="mt50 container_child" id="table_title" style="font-size: 50px;">Open Banking</div>
        <div
          class="w1200 h800 mt150 mb100 brs1 br10 container_child"
          id="table"
          style="background-color: white; color: black;"
          >
          <div id="baseContainer" class="w100p h800 br5">
			 <div id="buttonContainer" class="w100p h50 lh50 mt5 button_container">
				 <select id="inquiryType" class="ml10 select_box" name="inquiryType" onchange="selectInOut()">
					 <option>전체</option>
					 <option>입급</option>
					 <option>출금</option>
				 </select>
				 <button class="ml10 mt1 term_button">1주일</button>
				 <button class="ml10 mt1 term_button">1개월</button>
				 <button class="ml10 mt1 term_button">3개월</button>
				 <button class="ml10 mt1 term_button">6개월</button>
				 <button class="ml10 mt1 term_button selected">전체</button>
				 
				 <select id="excelOption" class="ml550 select_box">
					 <option>전체</option>
					 <option>화면</option>
				 </select>
				 <button class="ml10 mt1 excel_button">Excel</button>				 
			 </div>
			 <div id="searchContainer" class="w100p h40 mt3 search_container">
				 <table id="searchTable" class="search_table">
					 <colgroup>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 </colgroup>
					 <tbody>
						 <tr class="body_tr">
							 <td>거래내용</td>
							 <td><input class="w90p h30"/></td>
							 <td>통장인자내용</td>
							 <td><input class="w90p h30"/></td>
							 <td>거래점</td>
							 <td><input class="w90p h30"/></td>
							 <td><button class="action_button">검색</button></td>
							 <td><button class="action_button">초기화</button></td>
						 </tr>
					 </tbody>
				 </table>
			 </div>
			 <div id="tableContainer" class="w100p h640 mt5 brs1 table_container">
				 
			 </div>
			 <div id="pageContainer" class="w100p h50 mt5 page_container">
				 <button class="page_move_button"><<</button>
				 <button class="page_move_button"><</button>
				 <div id="pageButtonContainer"></div>
				 <button class="page_move_button">></button>
				 <button class="page_move_button">>></button>
			 </div>
		  </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/main/main.js"></script>
  <script src="/js/main/excel.js"></script>
  <script src="/js/main/won.js"></script>
  <script src="/js/main/account/list.js"></script>
  <script src="/js/main/account/cancel.js"></script>
  <script src="/js/main/inquiry/balance2.js"></script>
  <script src="/js/main/inquiry/transactionalInformation2.js"></script>
</html>