<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="/css/common/loading.css" />
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    
    <title>오픈뱅킹_VEINX</title>
  </head>
  <body style="width: 100%; height: 100vh; font-family: monospace;">
	  <form id="mainForm" method="post" action="/main/access">
		<input type="hidden" id="login_id" name="loginId" th:if="${session.loginId}" th:value="${session.loginId}"/>
		<input type="hidden" id="code" name="code" th:value="${code}"/>
		<input type="hidden" id="token_type" name="tokenType"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.accessToken}"/>
		<input type="hidden" id="access_token" name="accessToken" th:if="${session.tokenDTO == null}" />
		<input type="hidden" id="refresh_token" name="refreshToken"/>
		<input type="hidden" id="expires_in" name="expiresIn"/>
		<input type="hidden" id="scope" name="scope"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO}" th:value="${session.tokenDTO.userSeqNo}"/>
		<input type="hidden" id="user_seq_no" name="userSeqNo" th:if="${session.tokenDTO==null}"/>
		<input type="hidden" id="client_id" name="clientId" th:if="${session.clientDTO}" th:value="${session.clientDTO.clientId}"/>
		<input type="hidden" id="bank_tran_id" name="bankTranId" th:if="${session.clientDTO}" th:value="${session.clientDTO.bankTranId}"/>
	</form>
    <div class="base">
      <div class="left container" id="left_container">
      	<div class="mt50 container_child">
			<div class="w350" style="display: flex; justify-content: space-between;">
				<button class="btn account_add_button" type="button" onclick="accountAdd()">계좌등록</button>
				<button class="btn extension_period_button" type="button" onclick="extensionOfPeriod()" th:if="${session.tokenDTO}">기간 연장</button>
				<button class="btn logout_button" type="button" onclick="logout()">logout</button>	
			</div>
		</div>
      </div>
      <div class="right container" id="right_container">
        <div class="mt50 container_child" id="table_title" style="font-size: 50px;">Open Banking</div>
        <div class="mt110 container_child2" id="excelContainer">
	        <select id="excelOption" class="select_box">
				 	<option value="all">전체</option>
				 	<option value="table">화면</option>
			 	</select>
			 <button id="excelButton" onclick="noData()" class="ml5 excel_button">Excel</button>			
		</div>
        <div
          class="w1200 h800 mt150 mb100 brs1 br10 container_child"
          id="table"
          style="background-color: white; color: black;"
          >
          <div id="baseContainer" class="w100p h800 br5">
			 <div id="searchContainer" class="w100p h80 mt10 search_container">
				 <table id="searchTable" class="search_table">
					 <colgroup>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 	<col width="10%"/>
					 </colgroup>
					 <tbody>
						 <tr class="body_tr">
							<td class="td_title">입출금</td>
							<td>
								<select id="inoutType" class="select_box" name="inquiryType" >
									 <option value="all">전체</option>
									 <option value="입금">입금</option>
									 <option value="출금">출금</option>
								 </select>
					 		</td>
							<td class="td_title">거래일</td>
							<td>
								<select id="tranDate" class="select_box">
								 	<option value="all">전체</option>
								 	<option value="7">1주일</option>
								 	<option value="30">1개월</option>
								 	<option value="90">3개월</option>
								 	<option value="100">6개월</option>
							 	</select>
							</td>
							<td class="td_title">-</td>
							<td>-</td>
							<td class="td_title">-</td>
							<td>-</td>
						 </tr>
						 <tr class="body_tr">
							 <td class="td_title">거래내용</td>
							 <td><input id="tranType" class="w90p h30"/></td>
							 <td class="td_title">통장인자내용</td>
							 <td><input id="printContent" class="w90p h30"/></td>
							 <td class="td_title">거래점</td>
							 <td><input id="branchName" class="w90p h30"/></td>
							 <td><button class="action_button" onclick="changePage(1)">검색</button></td>
							 <td><button class="action_button" onclick="cleanSearch()">초기화</button></td>
						 </tr>
					 </tbody>
				 </table>
			 </div>
			 <div id="tableContainer" class="w100p h640 mt5 brs1 table_container">
				 
			 </div>
			 <div id="pageContainer" class="w100p h50 mt5 page_container">
				 <button id="firstPageButton" onclick="goPage(1)" class="page_move_button"><<</button>
				 <button id="prevPageButton" onclick="prevPage()" class="page_move_button"><</button>
				 <div id="pageButtonContainer"></div>
				 <button id="nextPageButton" onclick="nextPage()" class="page_move_button">></button>
				 <button id="lastPageButton" class="page_move_button">>></button>
			 </div>
		  </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/main/main.js"></script>
  <script src="/js/main/excel.js"></script>
  <script src="/js/main/won.js"></script>
  <script src="/js/main/account/list.js"></script>
  <script src="/js/main/account/cancel.js"></script>
  <script src="/js/main/inquiry/balance2.js"></script>
  <script src="/js/main/inquiry/transactionalInformation2.js"></script>
</html>