.base {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.left {
  flex: 0.25;
  height: 100%;
}

.right {
  flex: 0.75;
  height: 100%;
  border-left: 1px solid;
  border-color: gray;
}

.container {
  position: relative;
}

.container_child {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.container_child2 {
  position: absolute;
  left: 80%;
  transform: translate(-50%);
}

.account_container{
	border: solid 1px  #444444;
	background-color: white;
	font-weight: 500;
	color: #444444;
}

.base_container{
	background-color: #eaeaed;
	border: solid 1px #444444;
}

.button_container{
	display: flex;
	align-items: center;
}

.search_container{
	display: flex; 
	flex-direction: row; 
	justify-content: start;
}

.table_container{
	display:flex; 
	justify-content: center;
}

.page_container{
	display:flex; 
	justify-content: center; 
	align-items: center;
}

.action_button{
	width: 105px;
	height: 30px;
	background-color: #eaeaed;
	border-radius: 5px;
}

.action_button:hover{
	background-color: #A4A4A4;
	cursor: pointer;
}

.btn{
	width: 100px;
	height: 30px;
}

.account_add_button{
	background-color: rgb(53, 132, 228);
	color: snow;
	border-radius: 5px;
}

.account_add_button:hover{
	background-color: rgb(28, 113, 216);
	cursor: pointer;
}

.extension_period_button{
	background-color: rgb(46, 194, 126);
	color: snow;
	border-radius: 5px;
}

.extension_period_button:hover{
	background-color: rgb(38, 162, 105);
	cursor: pointer;
}

.logout_button{
	background-color: crimson;
	color: snow;
	border-radius: 5px;
}

.logout_button:hover{
	background-color: rgb(162, 15, 45);
	cursor: pointer;
}

.page_move_button{
	width: 30px;
	height: 30px;
	background-color: #444444;
	color: #eaeaed;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}

.now_page_button{
	width: 30px;
	height: 30px;
	background-color: #eaeaed;
	color: #444444;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}

.select_box{
	width: 100px;
	height: 30px;
	background-color: white;
	border: solid 1px;
}

.term_button{
	width: 60px;
	height: 30px;
}

.excel_button{
	width: 100px;
	height: 30px;
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.selected{
	background:#A4A4A4;
	border: solid 1px;
	border-radius:3px;
}